/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); */
@import "tailwindcss";

/* Font utility classes */


.font-mono {
  font-family: var(--font-mono);
}

.font-zen {
  font-family: var(--font-zen);
}

html,body {
  height: 100%;
  overscroll-behavior: none;
}
